<button class="title" routerLink="/home">
  <i class="fa fa-caret-left"></i> 
  Voltar
</button>
<div>
  <section class="colchoes">
    <div class="lista-colchoes" *ngFor="let colchao of ecoflex">
      <ng-container>
        <img id="imagem-colchao" [src]="colchao.imagem" alt="Colchão {{ colchao.id }}" class="media-object img-responsive img-thumbnail imagem-colchao">
        <div class="botoes-descricao">
          <button (click)="toggleDescricao(colchao)">
            {{ colchao.abrirDescricao ? 'Fechar' : 'Descrição ' + colchao.nome }}
          </button>
        </div>
        <div class="imagem-descricao-wrapper" [hidden]="!colchao.abrirDescricao">
          <button class="fechar-descricao" (click)="toggleDescricao(colchao)">X</button>
          <img [src]="colchao.descricao" class="imagem-descricao" (click)="toggleDescricao(colchao)">
          <button class="button-descricao" (click)="toggleDescricao(colchao)">
            {{ colchao.abrirDescricao ? 'Clique na imagem para fechar' : 'Descrição ' }}
          </button>
        </div>
      </ng-container>
    </div>
  </section>
</div>
<button class="title" routerLink="/home">
  <i class="fa fa-caret-left"></i> 
  Voltar
</button>
