.custom-container { 
    display: flex;
    background-color: white;
}

.column {
    width: 33%;
    padding: 10px;
}

.description {
    color: green;
}

.image-container {
    display: flex;
    justify-content: flex-end;
    margin-right: 5%;
}

.image {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mattress {
    width: 50%; 
    height: auto;
}


.number {
    font-size: 2rem;
    font-weight: bold;
    color: black;
}


.parag{
    text-align: justify;
}

.title{
    font-size: 2.5rem;
    color: black;
    margin-left: 2%;
}



h2 {
    display: flex;
    color: black;
    font-weight: bold;
    font-size: 2.5rem;
    margin-bottom: 10px;
    margin-left: 50px;
    margin-top: -25px;
}

@media (max-width: 900px) {
    .title{
        font-size: 2rem;
    }
}

@media (max-width: 800px) {
    h2 {
        font-size: 2rem;
    }
}

@media (max-width: 700px) {
    .title{
        font-size: 1.5rem;
    }
    h2 {
        font-size: 1.3rem;
    }
}
