.cabecalho {
  background: url(/assets/imagens/LOGOTAMPO.png);
  background-size: cover;
  background-position: center center;
  display: flex;
  align-items: center;
  justify-content: center;
}

  .imagem{
    z-index: 1;
  }
  .cabecalho .imagem{
    width: 40%;
  }

  .frase{
    width: 40%;
    margin-left: 85px;
    margin-top: 25px;
  }

  
  .logo1{
    position: relative;
    width: 60%;
    margin-bottom: -60px;
    margin-left: -25px;
    margin-top: -25px;
    z-index: 999;
  }
  
  
  @media (max-width: 768px) {
    .cabecalho .logo {
      width: 80%;
    }
    .frase {
      display: none;
    }

    .logo1{
      width: 105%;
      margin-left: 0px;
      margin-bottom: -10px;
    }
  }

  /*phone query*/
@media (max-width: 428px) {
  .logo1{
    width: 100%;
  }
  .cabecalho{
    height: 20vh;
  }
  .cabecalho .imagem{
    width: 50%;
    margin-right: 0.8rem;
    height: auto;
  }
}