
.title{
  flex: 1 0 auto;
  font-size: 12px;
  position: relative;
  cursor: pointer;
  margin: 15px 5px;
  padding: 5px 15px; 
  border-radius: 10px;
  border: none;
  background-color: black;
  color: white;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: 300;
  margin: 5px;
  border: 1px solid white;
  animation-name: slideDown;
  animation-duration: .5s;
  animation-fill-mode: forwards;
  opacity: 0;
}
.cursor-pointer {
  cursor: pointer;
}

.title_1 {
  display: flex;
  font-size: 20px;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: black;
  color: white;
  margin-bottom: -12px;
  border: none;
  outline: none;
}

.icon{
  font-size: 30px;
}

.button-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black;
}

.button-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: black;
}

@keyframes slideDown {
  0% {
    opacity: 0;
    transform: translateY(-100%);
    animation-fill-mode: forwards;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
    animation-fill-mode: forwards;
  }
}

@media (max-width: 767px) {
  .botoes-descricao button {
    font-size: 9px;
    padding: 1px 10px;
  }
}

@media (min-width: 176px) {
  .imagem-descricao {
      width: 100%;
  }
  .button-descricao{
    font-size: 15px;
    left: 30%;
  }
}

@media (min-width: 576px) {
  .imagem-descricao {
      width: 100%;
  }
}
@media (min-width: 768px) {
  .imagem-descricao {
      width: 120%;
  }
}
@media (min-width: 992px) {
  .imagem-descricao {
      width: 80%;
  }
}
@media (min-width: 1200px) {
  .imagem-descricao {
      width: 80%;
  }
}

@media (min-width: 1500px) {
  .imagem-descricao {
      width: 60%;
  }
}

@media (max-width: 428px) {
  .title {
      padding: 1px;
      border-radius: 5px;
  }
}

@media (max-width: 555px) {
  .title_1 {
    font-size: 14px;
  }
  .title {
      padding: 1px;
      border-radius: 5px;
  }
}

@keyframes slideDown {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}