<div class="button-wrapper">
  <div class="button-container">
    <button class="title_1" (click)="toggleBotoesAdicionais()">Produtos</button>
  <i (click)="toggleBotoesAdicionais()"  class="fa-solid fa-caret-down icon fa-beat cursor-pointer" cursor="pointer" style="color: white;"></i>
  </div>
</div>

<div *ngIf="mostrarBotoesAdicionais" class="button-wrapper">
  <button class="title" routerLink="/final2">Final 2</button>
  <button class="title" routerLink="/final2-novo">Final 2 - Novo</button>
  <button class="title" routerLink="/final3">Final 3</button>
  <button class="title" routerLink="/final5">Final 5</button>
  <button class="title" routerLink="/final7">Final 7</button>
  <button class="title" routerLink="/final9">Final 9</button>
  <button class="title" routerLink="/camas">Camas</button>
</div>

<div> 
  <app-index></app-index>
</div>
