<button class="backbtn" routerLink="/home">
  <img class="backimage" src="./assets/imagens/back.png" alt="">
 </button>
 <div class="text-center">
  <a class="tabela" href="https://drive.google.com/file/d/1DW98H2pjfnl59ggWaZPyg1QXVDNcnX2y/view?usp=sharing" target="_blank">
    <i class="fa-solid icon fa-file-pdf"></i>Tabela Armil
  </a>
  <a class="tabela" href="https://drive.google.com/file/d/18S4dLcYKyEj-CA6Pa48eHIlQXkcu3k9z/view?usp=sharing" target="_blank">
    <i class="fa-solid icon fa-file-pdf"></i>Tabela Pilati
  </a>
 
</div>
  <div>
    <div>
        <section class="colchoes">
          <div class="lista-colchoes" *ngFor="let colchao of armil">
            <ng-container>
              <img id="imagem-colchao" [src]="colchao.imagem" alt="Colchão {{ colchao.id }}" class="media-object img-responsive img-thumbnail imagem-colchao">
              <div class="botoes-descricao">
                <button class="botao-cama" (click)="redirect(colchao.link)">{{ colchao.nome }}</button>
              </div>
              <img [hidden]="!colchao.abrirDescricao" [src]="colchao.descricao" class="imagem-descricao"  (click)="toggleDescricao(colchao)">
              <button [hidden]="!colchao.abrirDescricao" class="button-descricao" (click)="toggleDescricao(colchao)"> {{ colchao.abrirDescricao ? 'Clique na imagem para fechar' : 'Descrição ' }}</button>
            </ng-container>
          </div>
        </section>
      </div>
